<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Products</title>
</head>
<body>
    
    <table>
        <thead>
            <th>Название</th>
            <th>Стоимость</th>
            <th>Количество</th>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.count}}</td>
                    <td>
                        <form action='{{ path('edit_page_product', {product: product.id}) }}' method='POST'>
                            <button>
                                Редактировать
                            </button>
                        </form>
                    </td>
                    <td>
                        <form action='{{ path('delete_product', {product: product.id}) }}' method='POST'>
                            <input type="hidden" name="_method" value="DELETE">
                            <button>
                                Удалить
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <form action='{{ path('create_product_page') }}' method='GET'>
        <button>Создать продукт</button>
    </form>
</body>
</html>